.logo{
    width: 10%;
}

.fundomenu{
    background-color: #96b9da ;
}

.minhafonte{
    font-size: 1.5em;
}
.imgcard{
    width: 100%;
}
.fotoli{
    padding-top: 50px;
    width: 50%;
   
}
#carouselExampleCaptions{
    padding-bottom: 70px;
}
.formulario-contato {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    color: #000000;
}