.color1 {color: #212427;}
.color2 {color: #364341;}
.color3 {color: #555f63;}
.color4 {color: #7b8e90;}
.color5 {color: #adcbc9;}

body{
   background-color: #adcbc9;

}
.logo{
    width: 30%;
    margin-left: 25px;
}

.fundomenu{
    background-color:#7b8e90;
}

.minhafonte{
    font-size: 1.5em;
}
.imgcard{
    width: 100%;
}
.fotoli{
    padding-top: 50px;
    width: 50%;
   
}
#carouselExampleCaptions{
    padding-bottom: 70px;
}
.formulario-contato {
    background-color: #555f63;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    color: #000000;
}
.tit{
  font-family:Trattatello, fantasy	 ;
  background-color: #e3faf8;
  
    margin-top: 100px;
    margin-bottom: 0px;
    color: #364341;
    padding-top: 15px;
    padding-bottom: 15px;
    border: #555f63;
    border-style: dashed;
    margin-left: 100px;
    margin-right: 100px;
    
}
.formulario {
  padding: 2em;
  background-color: #7b8e90;
  color: #000000;
  max-width: 700px;
  margin: 2em auto;
  border-radius: 10px;
  border: 2px solid #364341;
  font-family: cursive;
}

.formulario h2 {
font-family:Trattatello, fantasy	 ;  font-size: 1.5em; 
  margin-bottom: 1em;
  color: #000000;
  text-align: center;
}

.formulario label,
.formulario p {
  display: block;
  margin-top: 1em;
  font-weight: bold;
  font-size: 15px;
}

.formulario input,
.formulario select,
.formulario textarea,
.formulario button {
  width: 100%;
  height: 40px;
  padding: 0.5em;
  margin-top: 0.3em;
  border: 1px solid #364341;
  border-radius: 5px;
  font-size: 15px;
  font-family: inherit;
}

.formulario input[type="checkbox"],
.formulario input[type="radio"] {
  width: auto;
  height: auto;
  margin-right: 0.1em;
}

.formulario input[type="color"] {
  padding: 0;
  height: 20px;
  border: none;
}

.formulario input[type="range"] {
  width: 100%;
}

.formulario button {
  background-color: #212427;
  color: #adcbc9;
  margin-top: 1.5em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.formulario button:hover {
  background-color: #364341;
}
.env{
    font-style: oblique;
    background-color:#555f63;
    margin-bottom: 150px;
    color: #adcbc9;
    padding-top: 15px;
    padding-bottom: 15px;
    border: #364341;
    border-style: dashed;

}
.lui{
    width: 100%;
    height: 40%;
   
    

}
.luiz{
    width: 80%;

}
.accordion{

  margin-top: 60px;
}
.sobremimtxtt{
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #7b8e90;
  color: #364341;
  font-size: large;
  font-family: Andale Mono, monospace		;
}

.sobremimtxt{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #7b8e90;
    color: #364341;
    font-size: 1.4em;
    font-family: Andale Mono, monospace		;
}
#galeria .container{
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  
}
#galeria img{

  width: 25%;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 4px inset #364341;
}
#galeria img:hover{
  transform: scale(1.05);
}

.tit2{
font-family:Trattatello, fantasy	 ;    margin-top: 20px;
background-color: #e3faf8;
    margin-bottom: 50px;
    color: #364341;
    padding-top: 15px;
    padding-bottom: 15px;
    border: #555f63;
    border-style: dashed;
    margin-left: 100px;
    margin-right: 100px;


}
.tit3{
  font-family:Trattatello, fantasy	 ;
  background-color: #e3faf8;
  margin-top: 100px;
  margin-bottom: 50px;
  color: #364341;
  padding-top: 15px;
  padding-bottom: 15px;
  border: #555f63;
  border-style: dashed;
  margin-left: 100px;
  margin-right: 100px;
  
}

.foot{
  margin-top: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.2;
    color: #e3faf8;;
    background-color: #555f63;
}
.card{
  margin-top: 70px;

}
.txtcard{
    font-size: 1.8em;
    background-color: #7b8e90;
    color: #364341;
    font-style: oblique;
    font-family: Andale Mono, monospace		;
}
.card-text{
    font-size: 1.4em;
    font-family: Andale Mono, monospace		;

}
.card-title{
  font-style:unset;
  font-family: Chalkduster, fantasy		;
}

.red{
  width: 40%;
}
.btn{
  columns: auto;
  margin-left: 30%;
}
.btn-primary{
  background-color: #364341;
  color: #adcbc9;
  border-color: #212427;
}
.cardz{
  font-family: Andale Mono, monospace		;
  font-size: 1.2em;
    background-color: #7b8e90;
    border-style: dashed;
    border-color: #364341;
    width: 500px;
    height: 300px;
}
#competencias{
  margin-bottom: 200px;
}
#primsi{
  margin-bottom: 100px;

}
.carousel-inner{
  width: 100%;
  height: 100%;
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #364341;
    text-decoration: none;
    background-color: #adcbc9;
    border: 0;
    transition: color 0.15s 
ease-in-out, background-color 0.15s 
ease-in-out, border-color 0.15s 
ease-in-out;
}

.accordion {
    --bs-accordion-color: #1d1e1f;
    --bs-accordion-bg: #555f63;
    --bs-accordion-transition: color 0.15s 
ease-in-out, background-color 0.15s 
ease-in-out, border-color 0.15s 
ease-in-out, box-shadow 0.15s 
ease-in-out, border-radius 0.15s 
ease;
    --bs-accordion-border-color:  var(--bs-border-color);
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: var(--bs-border-radius);
    --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: #1d1e1f;
    --bs-accordion-btn-bg: #7b8e90;
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s 
ease-in-out;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23052c65' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #adcbc9(13, 110, 253, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--bs-primary-text-emphasis);
    --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
}
